<ion-header>

</ion-header>
<br><br>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="search" [routerLink]="['/chercher-soiree']"></ion-icon>
      <ion-label>Search</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="pint"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>0</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
